*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    overflow:hidden;
}
nav{
    padding: 12px;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    box-shadow: -13px 4px 12px 0px #7963632c
}

ul {
    display: flex; 
    list-style: none;
}

li{
    margin: 10%;
    text-decoration: none;
}

li a{
    color: #000000;
    text-decoration: none;
}

.secndside{
    margin-left: 15%;
}

.secndside a,button{
    text-decoration: none;
    color: #000000;
    margin: 5px;
}

button{
    background-color: rgb(5, 100, 5);
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sncdbtn{
    padding: 12px 18px;
}

.mainboard{
    position: relative;
    min-height: 100vh;
    padding: 0% 10% 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1{
    width: 50%;
    font-size: 3rem;
    padding: 20px;
    margin-top: 8%;
}

h1, .mainboard p, .bttnside{
    padding: 25px;
}

.mainboard p{
    font-size: 12px;
}

.bttnside{
    width: 30%;
    display: flex;
    align-items: center;
    margin: -5px;
}

.bttnside p{
    padding: 10px;
}

.bttnside i{
    font-size: 25px;
    color: rgb(5, 100, 5);
    margin-left: 5%;
    cursor: pointer;
}

.bttm_txt {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
}

.illustr_container{
    position: absolute;
    margin-left: 35%;
    z-index: -1;

}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

@media screen and (max-width: 768px){
    .mainboard{
        min-height: 60vh;
        padding: 5% 5% 0%;
    }
    h1{
        width: 50%;
        font-size: 2.5rem;
        padding: 0px;
        margin-top: 11%;
    }
    .bttnside{
        width: 50%;
    }
    h1, .mainboard p, .bttnside{
        padding: 15px;
    }
    .illustr_container img{ 
        height: 330px;
        width: 420px;
    }
    .illustr_container{
        position: absolute;
        margin-left: 40%;
    
    }
}

@media screen and (max-width: 740px){
    nav{
        justify-content: space-between;
    }
    li{ margin: 5%;}
    nav p{margin-left: 20px;}
}
@media screen and (max-width: 610px){
    .mainboard{
        min-height: 60vh;
        padding: 10% 5% 0%;
    }
    h1{
        width: 50%;
        font-size: 2rem;
        padding: 0px;
        margin-top: 11%;
    }
    .illustr_container img{ 
        height: 290px;
        width: 255px;
    }
    .bttnside{
        width: 60%;
    }
    h1, .mainboard p, .bttnside{
        padding: 15px;
    }
    .illustr_container{
        position: absolute;
        margin-left: 50%;
    }
    footer{
        width: 100%;
        height: 90px;
        margin-top: 35px;
    }
}
@media screen and (max-width: 480px){
    
    .mainboard{
        min-height: 100vh;
        padding: 0%;
    } 

    nav{
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: flex-start;     
    }
    nav p{margin:0px;}

    .logogrp{
        position: absolute;
        margin-top:10%;
        margin-left: 40%;
    }
    .secndside{
        position: absolute;
        align-items: flex-end;
        margin-top:5%;
        margin-left: 60%;
        text-align: center;
        width: 40%;
    }

    ul{
        flex-direction: column;  
    }
    .illustr_container img{ 
        height: 225px;
        width: 310px;
    }
    .illustr_container{
        position: absolute;
        margin-left: 12%;
        margin-top: 30%;
    
    }
    h1, .mainboard p, .bttnside{
        padding: 0px;
    }
    .bttnside{
        padding-top: 15px;
    }
    h1{
        width: 100%;
        font-size: 2.6rem;
        margin-top: 5%;
        margin-left: 35px;
    }
    .mainboard{
        min-height:100vh;
    }

    .mainboard p{
        margin-top: 60%;
        margin-left: 10%;
    }
    .bttnside{
        width: 100%;
        margin-left: 35px;
    }

    .bttnside p{
        margin-top: 0%;
    }

    footer{
        width: 100%;
        height: 150px;
    }
}